.pokemon-form {
  padding: 10px;
  text-align: center;
}

.infotop {
  margin-top: 30px;
}

.myName {
  font-size: 72px;
  text-align: center;
}

input[type="text"] {
  height: 30px;
  width: 100%;
  max-width: 400px;
}

input[type="submit"] {
  height: 30px;
  text-align: center;
  margin: 10px;
  width: 120px;
}

.partyimage {
  height: 45%;
}
.pcimage {
  height: 45%;
}

.box {
  border: black 1px solid;
  height: 370px;
  margin-right: 15px;
  margin-bottom: 15px;
}

input {
  float: left;
}

label {
  float:left;
  margin-right: 10px;
}
